*{
    padding: 0;
    margin: 0;
}
.body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
/* .active{
    background-color: #9dabdf;
    border-radius: 5px;
} */
a{
    padding: 6px 10px;
    margin: 5px 10px;
    color: white;
    text-decoration: none;
    font-size: 25px;
    transition: all .2s ease-in-out;
    cursor: pointer;
}
a:hover{
    background-color: #ff7f00;
    border-radius: 5px;
    transform: scale(1.1);
}
nav{
    background: linear-gradient(75deg, #f12711, #f5af19);
    padding: 10px;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px;
}